@charset "UTF-8";

@font-face {
    font-family: 'Dark Twenty';
    src: url('../fontes/Dark\ Twenty.otf');
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('../fontes/PatrickHand-Regular.ttf');
}

:root {
    --fonttitulo: 'Dark Twenty';
    --fontpoesia: 'Patrick Hand';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 20px 0px;
    background-image: linear-gradient(to bottom, lightgray, gray 90%);
    text-align: center;
}

header > h1 {
    font-family: var(--fonttitulo);
}

.menu {
    max-width: 700px;
    padding: 4px 0px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.menu a {
    background-color: gray;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu > ul > li {
    display: inline;
}

.menu > ul > li > ul > li {
    float: none;
    display: list-item;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

main {
    margin: auto;
    max-width: 700px;
}

section, article {
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid black;
}

section h2, h3 {
    text-align: center;
    padding: 10px;
}

section > p {
    padding: 5px;
    text-align: center;
}

section h3 {
    font-size: 1em;
}

.poema, .texto {
    padding-left: 30px;
}

article h1 {
    padding: 10px 0px 15px 0px;
    font-family: var(--fonttitulo);
    font-weight: bolder;
    font-size: 8vmin;
}

article.poema p {
    margin-bottom: 1.55em;
    font-family: var(--fontpoesia);
    font-size: 1.5em;
    line-height: 1.35em;
}

article.poema div {
    display: inline-block;
}

article.poema div > p {
    font-size: 1.5em;
}

article.poema div.dir {
    text-align: right;
}

article.poema div.esq {
    text-align: left;
}

article.texto p {
    margin-bottom: 1.05em;
    font-size: 1.2em;
    font-family: var(--fontpoesia);
    line-height: 1.35em;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: right;
}